<h1>LogIn</h1>

<form action="/admin" method="POST">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username" />

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" />

  <input type="submit" value="login" class="btn" />

  <p>Don't have an account? <a href="/register">Register Here</a></p>
</form>

<!-- <h1>Register</h1>
<form action="/register" method="POST">
  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username" />

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" />

  <input type="submit" value="register" class="btn" />
</form> -->
