<footer class="footer">
  <section class="footer_sec1">
    &copy; <%= new Date().getFullYear(); %> with <span style="color: red">♥</span> by
    <span class="login">mercyio</span> . <br />
    Built with <span class="login">Nodejs</span>, <span class="login">Express.js</span>, and
    <span class="login">MongoDB</span>,
  </section>
  <section class="footer_sec2">
    <a href="https://github.com/mercyio" target="_blank">View Code on github</a>
  </section>
</footer>
