<header class="header">
  <a href="/" class="header__logo">simplyWrite</a>

  <!-- <nav class="header__nav"> -->
  <!-- <ul> -->
  <!-- <li>
        <a href="/" class="<%= isActiveRoute('/', currentRoute)%>">Home</a>
      </li> -->
  <!-- <li>
        <a href="/about" class="<%= isActiveRoute('/about', currentRoute)%>">About</a>
      </li>
      <li>
        <a href="/contact" class="<%= isActiveRoute('/contact', currentRoute)%>">Contact</a>
      </li>
    </ul> -->
  <!-- </nav> -->
  <div class="header__button">
    <!-- <button class="searchBtn" aria-expanded="false">
      Search
      <svg
        class="w-6 h-6 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-width="2"
          d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"
        />
      </svg>
    </button> -->

    <a class="blog" href="/articles">Blog</a>
    <!-- <a href="/admin"> <button class="login" aria-expanded="false">Login</button></a> -->
  </div>
</header>
